html {
    min-height: 100%;
    overflow: hidden;
}
body {
    color: white;
    background-color: black;
}
.container {
    display: inline-block;
    margin: 20%;
    margin-left: 2vw;
    width: 100%;
}
.text {
    overflow: hidden;
    font-size: 20px;
    border-right: 2px solid orange;
    white-space: nowrap;
    animation: typing 3s steps(40, end) 1 forwards;
    text-align: center;
}
@keyframes typing{
    0% {
        width: 0;
    }
    100% {
        width: 100%;
    }
}
@media screen and (min-width: 500px) {
    .text {
        font-size: 5vw;
    }
}
